body {
    font-family: courier;
    text-align: baseline;
}

body.a {
    background: yellow;
}

body.a .letter-a{
    font-size: 30px;
}

body.b {
    background: orange;
}

body.b .letter-b{
    font-size: 30px;
}

.letter-a, .letter-b {
    display: inline-block;
}